html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-titulo: 'Oswald', sans-serif;
    --font-subtitutlo: 'Roboto', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --opensans: 'Open Sans', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --font-parrafo: 'Open Sans', sans-serif;
    --color-btn: #262626;
    --color-pattern: #53696f;
    --color-prioridad: #f0f2f1;
    /*font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;*/
}

body {
    background-color: #e1de80;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%2392a6ac' fill-opacity='0.73' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
    font-family: var(--font-parrafo);
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: var(--font-titulo);
    font-size: 16px;
}

ul {
    list-style: none;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
}


/*Navegacion*/

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: #E1DE80;
    position: fixed;
    z-index: 200;
    top: 0;
    /* opacity: .8; */
    max-height: 600px;
}

.nav-logo {
    width: 450px;
    padding: 10px 0;
}


/*Navegación Izquierda*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
    text-transform: capitalize;
}

.nav-main ul li a {
    font-size: 20px;
    color: #262626;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #262626;
    background: #262626;
    color: #fff;
    padding: 10px 10px;
    border-radius: 4px;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.nav-menu-right {
    position: relative;
}

.nav-menu-right a {
    position: absolute;
    right: 20px;
    bottom: 10px;
}


/**/

.acerca-de-mi {
    width: 100%;
    height: 550px;
    background: url(/img/yayo-17.jpg) no-repeat center center/cover;
    padding-bottom: 30px;
    margin-top: 90px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.acerca-de-mi h2 {
    font-size: 70px;
    font-weight: 200;
    font-family: var(--font-subtitulo);
    color: #fff;
    text-align: left;
    padding: 0 20px;
    width: 100%;
}

.acerca-de-mi p {
    font-family: var(--font-parrafo);
    font-weight: 300;
    padding: 0 0 20px 20px;
    color: #fff;
    text-align: left;
    justify-content: left;
    width: 800px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    border: 0;
    font-weight: 300;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    margin: 10px 0;
}

.btn-acerca-de-mi {
    cursor: pointer;
    margin: 0 20px;
    border: 0;
    font-weight: 300;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    width: 120px;
}

.btn:hover {
    opacity: .7;
}

.btn-acerca-de-mi:hover {
    opacity: .7;
}


/* .acerca-de-mi h2,
.acerca-de-mi p {
    margin-bottom: 10px;
    text-align: left;
} */

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
}


/*About Cards*/

.titulo-cards {
    text-align: center;
    font-size: 40px;
    /* color: #6a6a6a; */
    margin-top: 100px;
    font-weight: 100;
}

.about-cards {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    /* font-size: 14px; */
}

.about-cards h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-titulo);
    margin: 10px 10px;
    /* padding: 10px 10px; */
}

.about-cards p {
    font-size: 14px;
    font-family: var(--font-parrafo);
    padding: 0 10px;
    text-align: justify;
}

.about-cards .cards {
    width: 270px;
    /* 320px */
    height: 650px;
    border-radius: 10px;
    background: #E1DE80;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    justify-content: center;
    /* padding: 0 0; */
}

.about-cards .cards:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.about-cards .cards img {
    width: 100%;
    height: 320px;
}

.cards {
    position: relative;
    z-index: 100;
    width: 100%;
}

.cards a {
    position: absolute;
    right: 20px;
    bottom: 10px;
}


/*Parents*/


/* .text-parents {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    font-weight: 100;
    padding: 20px;
}

.parents {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.parents .card-father {
    width: 380px;
    height: 420px;
    background: url(/img/carlos.jpg) no-repeat center center/cover;
    margin: 0 50px;
}

.parents .card-mother {
    width: 380px;
    height: 420px;
    background: url(/img/heydi-2.jpg) no-repeat center center/cover;
    justify-content: space-around;
}

.parents p,
.parents h2,
.parents a {
    text-align: justify;
}

.parents a:hover {
    background: #333;
    color: #fff;
    opacity: .8;
    border: 1px solid #fff; 
}*/


/*Mis Padres*/

.parents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.parents .card-father,
.parents .card-mother {
    position: relative;
    overflow: hidden;
}

.parents .card-father img,
.parents .card-mother img {
    width: 300px;
    height: 450%;
    /* height: 100%; */
}

.detalles {
    position: absolute;
    left: 0;
    padding: 20px;
    width: 50%;
    height: 50%;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 700;
}

.parents .card-father:before,
.parents .card-mother:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 300px;
    height: 450px;
    background: linear-gradient(0deg, #000 50%, transparent);
    transition: 0.5s;
    z-index: 100;
}


/*Estilos tarjetas 3D*/

.container {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.contenedor-tarjeta {
    margin: 20px;
}

.contenedor-tarjeta a {
    display: inline-block;
}

.contenedor-tarjeta:hover figure {
    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}

.contenedor-tarjeta:hover figure img {
    /* filter: blur(5px); */
}

figure {
    width: 300px;
    /* height: 350px; */
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease 5s;
}

figure .frontal {
    display: block;
    /* backface-visibility: hidden; */
}

figure .trasera {
    position: absolute;
    top: 0;
    padding: 20px;
    font-family: var(--oswald);
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: hidden;
}

.contenedor-tarjeta:nth-child(1) figure .trasera {
    background: rgba(222, 223, 221, 0.61);
    background: -moz-radial-gradient(center, ellipse cover, rgba(222, 223, 221, 0.61) 0%, rgba(111, 79, 63, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(222, 223, 221, 0.61)), color-stop(100%, rgba(111, 79, 63, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(222, 223, 221, 0.61) 0%, rgba(111, 79, 63, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(222, 223, 221, 0.61) 0%, rgba(111, 79, 63, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(222, 223, 221, 0.61) 0%, rgba(111, 79, 63, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(222, 223, 221, 0.61) 0%, rgba(111, 79, 63, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dedfdd', endColorstr='#6f4f3f', GradientType=1);
}

.contenedor-tarjeta:nth-child(2) figure .trasera {
    background: rgba(196, 185, 185, 0.76);
    background: -moz-radial-gradient(center, ellipse cover, rgba(196, 185, 185, 0.76) 0%, rgba(11, 16, 24, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(196, 185, 185, 0.76)), color-stop(100%, rgba(11, 16, 24, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(196, 185, 185, 0.76) 0%, rgba(11, 16, 24, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(196, 185, 185, 0.76) 0%, rgba(11, 16, 24, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(196, 185, 185, 0.76) 0%, rgba(11, 16, 24, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(196, 185, 185, 0.76) 0%, rgba(11, 16, 24, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c4b9b9', endColorstr='#0b1018', GradientType=1);
}

figure .trasera .titulo {
    color: #fff;
    font-weight: normal;
    margin-bottom: 10px;
    font-family: var(--roboto);
    font-size: 18px;
}

figure .trasera hr {
    height: 2px;
    background: #fff;
    border: none;
    margin-bottom: 10px;
    opacity: .5;
}

figure .trasera p {
    font-family: var(--opensans);
    line-height: 22px;
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    figure .trasera {
        backface-visibility: visible;
        transform: perspective(600px) rotateY(0deg);
    }
    .contenedor-tarjeta:hover figure {
        transform: perspective(600px) rotateY(0deg);
    }
}